<h1>Releases</h1>

<div class="releases">
  <% @albums.each do |album| %>
    <div class="release">
      <img class="album-cover-image" src="<%= album["images"][0]["url"] %>" />
      <h3 class="album-name"><%= album["name"] %></h3>
      <h4 class="album-artist"><%= album["artists"][0]["name"] %></h4>
      <span class="album-track-count"><%= album["total_tracks"] %> tracks</span>
      <span class="album-release-date"><%= album["release_date"] %></span>
    </div>
  <% end %>
</div>